@model Projet2.ViewModels.MemberInfoViewModel


@using (Html.BeginForm())
{
    <div class="container login-container">
        <div class="row justify-content-md-center">
            <div class="login-form-1">
                <h3>@ViewBag.Legend</h3>
                
            @if (ViewBag.Legend == "Modification du compte")
            {
                @Html.HiddenFor(m => Model.Member.AddressId)
                @Html.HiddenFor(m => Model.Address.Id)
                @Html.HiddenFor(m => Model.Member.Role)
                @Html.HiddenFor(m => Model.Member.Password)
            }
                <div class="form-group row">
                    @Html.LabelFor(m => Model.Member.Lastname, new { @class = "form-label"})
                    
                    @Html.TextBoxFor(m => Model.Member.Lastname, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => Model.Member.Lastname)
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => Model.Member.Firstname, new { @class = "form-label"})
                    @Html.TextBoxFor(m => Model.Member.Firstname, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => Model.Member.Firstname)
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => Model.Member.Pseudonym, new { @class = "form-label"})
                    @Html.TextBoxFor(m => Model.Member.Pseudonym, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => Model.Member.Pseudonym)

                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => Model.Member.Mail, new { @class = "form-label"})
                    @Html.TextBoxFor(m => Model.Member.Mail, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => Model.Member.Mail)
                </div>
                <div class="form-group row">
                    @if (ViewBag.Legend == "Création de compte")
                    {
                        @Html.LabelFor(m => Model.Password, new { @class = "form-label"})
                        @Html.PasswordFor(m => Model.Password, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.Password)
                    }
                </div>
                <div class="form-group row">
                    <div class="col no-padding">
                        @Html.LabelFor(m => Model.Address.RoadNumber, new { @class = "form-label"})
                        @Html.TextBoxFor(m => Model.Address.RoadNumber, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.Address.RoadNumber)
                    </div>
                    <div class="col no-padding">
                        @Html.LabelFor(m => Model.Address.Road, new { @class = "form-label"})
                        @Html.TextBoxFor(m => Model.Address.Road, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.Address.Road)
                    </div>
                </div>
                <div class="form-group row custom-form-group">
                    <div class="col no-padding">
                        @Html.LabelFor(m => Model.Address.PostalCode, new { @class = "form-label"})
                        @Html.TextBoxFor(m => Model.Address.PostalCode, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.Address.PostalCode)
                    </div>

                    <div class="col no-padding">
                        @Html.LabelFor(m => Model.Address.City, new { @class = "form-label"})
                        @Html.TextBoxFor(m => Model.Address.City, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.Address.City)
                    </div>

                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => Model.Address.Country, new { @class = "form-label"})
                    @Html.TextBoxFor(m => Model.Address.Country, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => Model.Address.Country)
                </div>

                <div class="form-group" align="center">
                    <input type="submit" class="btn btn-primary" value="Valider" />
                </div>

                @if (ViewBag.Modified == true)
                {
                    <div class="form-group" align="center">
                        <p class="text-success">Vos modifications ont bien été prises en compte</p>
                    </div>
                }
            </div>
        </div>
    </div>


}