@model Projet2.ViewModels.FundraisingInfoViewModel

@{
    string action = @ViewBag.Action;
}
@using (Html.BeginForm(action, "Fundraising", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend align="center">Informations collecte de dons</legend>
        <br>
        <br>
        <table width="50%" align="center">
            @Html.HiddenFor(f => f.Fundraising.Id)
            @Html.HiddenFor(f => f.AssociationId)
            <tr>
                <td width="50%" align="right">@Html.LabelFor(m => Model.Fundraising.Name)</td>
                <td>@Html.TextBoxFor(m => Model.Fundraising.Name)</td>
                <td>@Html.ValidationMessageFor(m => Model.Fundraising.Name)</td>
            </tr>
            <tr>
                <td align="right">@Html.LabelFor(m => Model.Fundraising.Description)</td>
                <td>@Html.TextAreaFor(m => Model.Fundraising.Description, new { @class = "descriptionForm"})</td>
                <td>@Html.ValidationMessageFor(m => Model.Fundraising.Description)</td>
            </tr>
            @if (action == "Create")
            {
                <tr>
                    <td align="right">@Html.LabelFor(m => Model.Fundraising.EndingDate)</td>
                    <td>@Html.TextBoxFor(m => Model.Fundraising.EndingDate)</td>
                    <td>@Html.ValidationMessageFor(m => Model.Fundraising.EndingDate)</td>
                </tr>
                <tr>
                    <td align="right">@Html.LabelFor(m => Model.Fundraising.DesiredAmount)</td>
                    <td>@Html.TextBoxFor(m => Model.Fundraising.DesiredAmount)</td>
                    <td>@Html.ValidationMessageFor(m => Model.Fundraising.DesiredAmount)</td>
                </tr>
            }
            <tr>
                <td align="right">@Html.LabelFor(model => model.File)</td>
                <td>@Html.TextBoxFor(model => model.File, new { placeholder = "Description", @type = "file" })</td>
                <td>@Html.ValidationMessageFor(model => model.File)</td>
            </tr>
            @if (action == "Modify")
            {
                <tr>
                    <td></td>
                    <td><i class="bi bi-exclamation-triangle"></i>Une nouvelle image remplacera celle-ci :</td>
                </tr>
                <tr>
                    <td></td>
                    <td><img src="@Model.Fundraising.Image"></td>
                </tr>
            }
            <tr>
                <td colspan="3" align="center">
                    <br><br><input type="submit" value="Valider" />
                </td>
            </tr>
        </table>
    </fieldset>
}