@model Projet2.ViewModels.DocumentsViewModel

@{
    ViewBag.Title = "Fournir des documents";
    Layout = "_Layout";
}

@{
    <div class="d-flex flex-column align-items-center w-100">
        <div class="d-flex">
            <h4>Vos documents</h4>
        </div>
        <div class="d-flex">
            <p>En choisir un nouveau remplacera l'ancien</p>
        </div>
        <div class="d-flex">
            @using (Html.BeginForm("Documents", "Association", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table class="table table-bordered table-light table-striped border-2">
                    @Html.HiddenFor(m => m.AssociationId)
                    <tr>
                        <td align="right">@Html.Label("RIB : ")</td>
                        <td>@Html.TextBoxFor(model => model.BankDetails, new { placeholder = "Description", @type = "file" })</td>
                        @if (@Model.FormerBankDetails != "")
                        {
                            <td><a href=@Model.FormerBankDetails target="_blank">RIB actuel</a></td>
                        }
                        else
                        {
                            <td>Pas de RIB actuellement</td>
                        }
                    </tr>
                    <tr>
                        <td align="right">@Html.Label("Pièce d'identité du mandataire : ")</td>
                        <td>@Html.TextBoxFor(model => model.RepresentativeID, new { placeholder = "Description", @type = "file" })</td>
                        @if (@Model.FormerRepresentativeID != "")
                        {
                            <td><a href=@Model.FormerRepresentativeID target="_blank">Pièce d'identité actuelle</a></td>
                        }
                        else
                        {
                            <td>Pas de pièce d'identité actuellement</td>
                        }
                    </tr>
                    <tr>
                        <td align="right">@Html.Label("Publication au journal officiel")</td>
                        <td>@Html.TextBoxFor(model => model.OfficialJournalPublication, new { placeholder = "Description", @type = "file" })</td>
                        @if (@Model.FormerOfficialJournalPublication != "")
                        {
                            <td><a href=@Model.FormerOfficialJournalPublication target="_blank">Publication actuelle</a></td>
                        }
                        else
                        {
                            <td>Pas de publication actuellement</td>
                        }
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <input type="submit" value="Valider" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
}