@model Projet2.ViewModels.ListSearchAssociationViewModel
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@
@{
    ViewBag.title = "Les associations présentes sur AssoNow";
    Layout = "_Layout";
}


<div   class="row ml-1">
    <div class="col-3">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => Model.SearchName)
            @Html.TextBoxFor(m => Model.SearchName)
            <input type="submit" value="Rechercher" class="btn btn-primary" />
        }
    </div>

    <div class="col-9">
        <div class="row">
            @{
                int i = 0;
                while (i < Model.AssociationsList.Count)
                {
                    @for (int j = 0; j < 4; j++)
                    {
                        @if (i < Model.AssociationsList.Count)
                        {
                            <div class="col-md-4">
                               <div class="card">
                                     <img class="img-fluid card-img-top" alt="100%x280"  src="@Model.AssociationsList[i].Image">
                                    <div class="card-body">
                                        <h4 class="card-title">@Model.AssociationsList[i].Name</h4>
                                        <p class="card-text">@Model.AssociationsList[i].Description</p>           
                                       <a href="~/Association/Profil?id=@Model.AssociationsList[i].Id" class="stretched-link"></a>
                                      
                                    </div>
                                </div>
                            </div>
                        }
                        i++;
                    }
                }
            }
        </div>

    </div>


</div>

