@model Projet2.ViewModels.ServicesViewModel

@{
    ViewBag.Title = "Gestion des services";
    Layout = "_Layout";
}

<div class="d-flex flex-column align-items-center w-100">
    <div class="d-flex">
        <h4>Nos services</h4>
    </div>
    <div class="d-flex flex-column">
        <p>Tarification mensuelle dont le prélèvement s'effectuera chaque début de mois :</p>
        <p>1 service : 15,99€</p>
        <p>2 services : 29,99€</p>
        <p>3 services : 39,99€</p>
    </div>
    <div class="d-flex w-25">
        @using (Html.BeginForm())
{
        <table class="table table-bordered table-light table-striped border-2">
            @Html.HiddenFor(m => m.AssociationId)
            <tr>
                <td>@Html.Label("Service de gestion de vos adhérents")</td>
                <td>Ce service vous offre la possibilité d'acquérir et de gérer de nouveaux adhérents parmi les visiteurs de notre plateforme</td>
                <td>@Html.CheckBoxFor(m => m.MemberService)</td>
            </tr>
            <tr>
                <td>@Html.Label("Service de gestion des donations")</td>
                <td>Ce service vous offre la possibilité de recevoir des donations et de créer des collectes de dons pour vos projets</td>
                <td>@Html.CheckBoxFor(m => m.DonationService)</td>
            </tr>
            <tr>
                <td>@Html.Label("Service de billetterie")</td>
                <td>Ce service vous offre la possibilité de créer des évènements et de mettre en place la billetterie correspondante</td>
                <td>@Html.CheckBoxFor(m => m.TicketService)</td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <input type="submit" value="Valider" />
                </td>
            </tr>
        </table>

        }
    </div>
</div>

