@model Projet2.ViewModels.AssociationEventInfoViewmodel



@{
    ViewBag.Title = "Modification de l'évènement";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row ">
        @*flex-nowrap*@
        <div class="col-2 col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start list-group-flush" id="menu">
                    <li class="nav-item">
                        <img src="@Model.Association.Image" class="rounded" width="250" height="200" />
                    </li>
                    @if (Model.Association.IsPublished)
                    {
                        @if (Model.Association.TicketService)
                        {
                            <li class="nav-item list-group-item bgmodify-warning w-100">
                                <a href="~/AssociationEvent/EventList?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion des évènements</span>
                                </a>
                            </li>
                        }
                        @if (Model.Association.MemberService)
                        {
                            <li class="nav-item list-group-item bg-light w-100">
                                <a href="~/Association/Member?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion de vos adhérents</span>
                                </a>
                            </li>
                        }
                        @if (Model.Association.DonationService)
                        {
                            <li class="nav-item list-group-item bg-light w-100">
                                <a href="~/Fundraising/Management?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                    <span class="ms-1 d-none d-sm-inline">Gestion de vos collectes</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Advice/AskForAdvice?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Demander un conseil</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Advice/SeeAdvice?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Voir nos réponses</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Association/Services?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Nos services</span>
                            </a>
                        </li>
                        <li class="nav-item list-group-item bg-light w-100">
                            <a href="~/Association/Profil?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                                <span class="ms-1 d-none d-sm-inline">Profil de l'association</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item list-group-item bg-light w-100">
                        <a href="~/Association/Documents?id=@Model.Association.Id" class="nav-link align-middle px-0 border-0">
                            <span class="ms-1 d-none d-sm-inline">Fournir vos documents</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col py-3">
    @using (Html.BeginForm("EventList", "AssociationEvent", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend align="center">Liste des évènements en cours </legend>
            <br>
            <br>
            <table width="50%" align="center">
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Titre
                    </th>
                    <th>
                        Description
                    </th>
                    @foreach (var item in Model.AssociationEventsList)
                    {
                    <tr>
                        <td>
                            <img src="@item.Image" width="100" height="100" />
                        </td>
                        <td>
                                @item.EventTitle
                        </td>
                        <td>
                                @item.Description
                        </td>
                        <td>
                                @Html.ActionLink("Modifier","EventEdit","AssociationEvent", new {id=@Model.SelectedAssociationId,eventid=item.Id},null)
                                @Html.ActionLink("Effacer","EventDelete","AssociationEvent",new {id=@Model.SelectedAssociationId,eventid=item.Id}, null)
                        </td>
                    </tr>
                    }
                <tr>
            </table>
            <a href="/AssociationEvent/EventRegister?id=@Model.SelectedAssociationId"></a>
        </fieldset>
    }
    <div class="col py-3" style="width: 10rem;">
        <a href="/AssociationEvent/EventRegister?id=@Model.SelectedAssociationId">

            <img src="/FileSystem/Pictures/postif.png" alt="Ajouter un évènement" title="Ajouter un évènement" width="150" height="150" />
        </a>
    </div>
</div>
    </div>



@*        <div class="col-4 m-5" style="width: 10rem;">
    <a href="/AssociationEvent/EventRegister?id=@Model.SelectedAssociationId">
    </a>
    </div>*@


@*<section>
    <div class="text-center">
    <h2 class="fw-bolder">Liste des événements en cours </h2>
    <p class="lead fw-normal text-muted mb-5"></p>
    </div>
    <div class="row mx-auto">
    @foreach (var item in Model.AssociationEventsList)
    {
    <div class="col-sm-3">
    <div class="card shadow border-0">
    <img class="card-img-top" src="@item.Image" alt="@item.EventTitle" />
    <div class="card-body">
    <div class="badge bg-primary bg-gradient rounded-pill mb-2">@item.EventTitle</div>
    <a class="text-decoration-none link-dark stretched-link" asp-controller="Fundraising" asp-action="Profile" asp-route-id="@item.Id"><h5 class="card-title mb-3">@item.EventTitle</h5></a>
    <p class="card-text mb-0">@item.Description</p>
    <p class="card-text mb-0">Le nombre de tickets restant : @item.RemainingTickets</p>
    <p class="card-text mb-0">Le Prix : @item.TicketPrice</p>
    </div>
    <div>
    <a class="btn btn-primary btn-sm px-4 me-sm-3" href="~/AssociationEvent/EventEdit?id=@Model.SelectedAssociationId&eventid=@item.Id">Modifier</a>

    <a class="btn btn-primary btn-sm px-4 me-sm-3" href="~/AssociationEvent/EventDelete?id=@Model.SelectedAssociationId&eventid=@item.Id">Supprimer</a>
    </div>
    </div>
    </div>
    }
    </div>
    </section>*@