@model Projet2.ViewModels.AssociationEventInfoViewmodel

@using (Html.BeginForm("EventList", "AssociationEvent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend align="center">Liste des évènements en cours </legend>
        <br>
        <br>
        <table width="50%" align="center">
            <tr>
                 <th>
                     Id
                 </th>
                 <th>
                    Titre
                 </th>
                 <th> 
                     Description
                 </th>


           @foreach (var item  in Model.EventsList)
           {
            <tr>   
                <td>
                    @item.Id
                </td>
                <td>
                    @item.EventTitle
                </td>
                 <td>
                    @item.Description
                </td>

                  <td>
                    @Html.ActionLink("Modifier","EventEdit","AssociationEvent", null,new {id=item.Id})
                    @Html.ActionLink("Effacer","EventDelete","AssociationEvent",new {id=item.Id})
                    @Html.RouteLink("Effacer bis","EventDelete",new {id=2})
               </td>

             </tr>

           }
           <tr>
   
                 @*
                     @Html.DisplayNameFor(m =>m.AssociationEvent.Id)
                      @Html.DisplayNameFor(m =>m.AssociationEvent.EventTitle)
                      @Html.DisplayNameFor(m =>m.AssociationEvent.Description)
                <td>
                    @Html.DisplayFor(m =>m.AssociationEvent.Id)
               <td>
                    @Html.DisplayFor(m =>m.AssociationEvent.EventTitle)
                </td>
                <td>
                    @Html.DisplayFor(m =>m.AssociationEvent.Description)
                </td>
              
               
                  <td>
                        @Model.AssociationEvent.Id
                 </td>
                 <td>
                      @Model.AssociationEvent.EventTitle
                 </td>
                 <td>
                     @Model.AssociationEvent.Description
                 </td>*@

            </tr>


        </table>
        			<div class="col-4 m-5" style="width: 18rem;">
				<a href="/Sejour/Creer">
					<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="black" class="align-middle bi bi-plus" viewBox="0 0 16 16">
						<path class="plus" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
				</a>
			</div>
    </fieldset>
}