@model Projet2.ViewModels.AssociationEventInfoViewmodel

@{
    ViewBag.Title = "Evènement";
    Layout = "_Layout";
}


@*@using (Html.BeginForm())
    {
    <fieldset>*@


<div class="row justify-content-center mb-2">
    <h3>Informations sur l'évènement</h3>
    <br>
    <br>
    @Html.HiddenFor(m=>m.SelectedAssociationId)
    @Html.HiddenFor(m=>m.AssociationEvent.AddressId)
    @Html.HiddenFor(m=>m.AssociationEvent.AssociationId)
    @Html.HiddenFor(m=>m.AssociationEvent.Id)
</div>

<div class="section ">
    <div class="container">
        <div class="row example-page">
            <div class="col-md-6 text-center">
                <a href="examples/landing.html" target="_blank">
                    <img src="@Model.AssociationEvent.Image" alt="Rounded Image" style="height:400px; width:auto; min-height:400px; max-width:350px;" class="img-rounded img-responsive" style="width: 75%">

                </a>
            </div>
            <div class="col-md-6 text-center mt-4">

                @*
                *@
                <table>
                    <tr>
                        <td>
                            <h4>
                                @Model.AssociationEvent.EventTitle
                            </h4>
                            <hr width="50%" size="2" align="center">
                        </td>
                    </tr>

                    <tr>

                        <td>
                            @Model.AssociationEvent.Description
                            <hr width="50%" size="2" align="center">
                        </td>
                    </tr>

                    <tr>
                        <td>@Model.Address.RoadNumber, @Model.Address.Road</td>
                    <tr>
                    </tr>
                    <tr>
                        <td>@Model.Address.PostalCode, @Model.Address.City</td>
                    </tr>
                    <tr>

                        <td>
                                @Model.Address.Country
                            <hr width="50%" size="2" align="center">
                        </td>
                    </tr>
                    <tr>
                        <td>@Model.AssociationEvent.RemainingTickets places restantes</td>
                    </tr>
                </table>

                <div class="mt-2">
                    <a href="~/Ticketing/TicketRegister?id=@Model.AssociationEvent.Id" class="btn btn-primary">Commander</a>
                </div>
            </div>
        </div>
    </div>
</div>



@*
    <div class="d-flex flex-column justify-content-center w-100">
    <div class="d-flex flex-row justify-content-center w-75">
    <div class="d-flex flex-row  justify-content-center w-100 p-1">
    <div class="d-flex " id="image-evenement">
    <img src="@Model.AssociationEvent.Image" class="rounded mx-auto d-block" alt="@Model.AssociationEvent.EventTitle">
    </div>
    </div>

    <div class="d-flex flex-column w-50 justify-content-center w-50 p-1">

    <div class="d-flex">
    <table>
    <tr>
    <td>
    <h4>
    @Model.AssociationEvent.EventTitle
    </h4>
    <hr width="50%" size="2" align="center">
    </td>
    </tr>

    <tr>

    <td>
    @Model.AssociationEvent.Description
    <hr width="50%" size="2" align="center">
    </td>
    </tr>

    <tr>
    <td>@Model.Address.RoadNumber, @Model.Address.Road</td>
    <tr>
    </tr>
    <tr>
    <td>@Model.Address.PostalCode, @Model.Address.City</td>
    </tr>
    <tr>

    <td>
    @Model.Address.Country
    <hr width="50%" size="2" align="center">
    </td>
    </tr>
    <tr>
    <td>@Model.AssociationEvent.RemainingTickets places restantes</td>
    </tr>
    </table>
    </div>


    <div class="d-flex justify-content-center w-100">
    <a href="~/Ticketing/TicketRegister?id=@Model.AssociationEvent.Id" class="btn btn-primary">Commander</a>
    </div>

    </div>
    </div>

    </div>
    }

*@