@model Projet2.ViewModels.AssociationEventInfoViewmodel



@{
    ViewBag.Title = "Modification de l'évènement";
    Layout = "_Layout";
}



@using (Html.BeginForm("EventList", "AssociationEvent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend align="center">Liste des évènements en cours </legend>
        <br>
        <br>
        <table width="50%" align="center">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Titre
                </th>
                <th>
                    Description
                </th>


                @foreach (var item in Model.AssociationEventsList)
                {

                <tr>
                    <td>
                        <img src="@item.Image" width="100" height="100" />
                    </td>
                    <td>
                            @item.EventTitle
                    </td>
                    <td>
                            @item.Description
                    </td>

                    <td>
                            @Html.ActionLink("Modifier","EventEdit","AssociationEvent", new {id=@Model.SelectedAssociationId,eventid=item.Id},null)
                            @Html.ActionLink("Effacer","EventDelete","AssociationEvent",new {id=@Model.SelectedAssociationId,eventid=item.Id}, null)

                    </td>

                </tr>

                }
            <tr>
            </tr>


        </table>
        <div class="col-4 m-5" style="width: 18rem;">
            <a href="/AssociationEvent/EventRegister?id=@Model.SelectedAssociationId">

                <img src="/event/positif.png" alt="Ajouter un évènement" title="Ajouter un évènement" />

            </a>
        </div>
    </fieldset>
}