@model Projet2.ViewModels.AssociationEventInfoViewmodel

@{
    ViewBag.Title = "Comfirmation d'achats";
    Layout = "_Layout";
}

<div class="d-flex w-100 justify-content-center">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend align="center">Billet pour @Model.AssociationEvent.EventTitle</legend>
        <table>
            @Html.HiddenFor(m => m.AssociationEvent.Id)
            <tr> 
                <td>
                    @Html.LabelFor(m => m.TicketsNumber)
                    @Html.TextBoxFor(m => m.TicketsNumber)
                    @Html.LabelFor(m=>m.AssociationEvent.TicketPrice)
                    @Html.LabelFor(m=>m.TicketsSum)
                    
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <br><br><input type="submit" value="Valider" />
                </td>
            </tr>
        </table>
        </fieldset>
    }
</div>