@model Projet2.ViewModels.TicketingViewModel



@{
    ViewBag.Title = "Modification de l'évènement";
    Layout = "_Layout";
}

{

<legend align="center">Liste des places de concert </legend>
<br>
<br>
<table width="50%" align="center">
    <tr>
        <th>
           
        </th>
        <th align="center">
            Titre
        </th>
        <th>
             nombre de places achetées

        </th>
        <th>
            Date d'achat
        </th>

        <th>
           
        </th>
    </tr>

    @foreach (var orderByEvent in Model.OrderByEventList)
    {

            <tr>
                <td align="center">
                @Html.HiddenFor(m=>orderByEvent.IdOrder)
                    <img src="@orderByEvent.Image" width="100" height="100" />
                </td>
                <td>
                @orderByEvent.EventTitle

                </td>
                <td align="center">
                @orderByEvent.TicketsNumber
                </td>
                <td>
                @orderByEvent.PurchasedDate.ToString("dd/MM/yyyy")
                </td>

                <td>
                @Html.ActionLink("Annuler","PurchasedEventDelete","Ticketing", new {orderId=@orderByEvent.IdOrder},null)
                </td>

            </tr>

    }



</table>

}