@model Projet2.ViewModels.PaymentCreditCardViewModel

@{
    ViewBag.title = "Informations Carte bancaire";
    Layout = "_Layout";
}

<div class="d-flex flex-row justify-content-center w-100">
    <div class="d-flex flex-column justify-content-center border border-dark rounded w-25">
        @if (Model.SavedCreditCard != null)
        {
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(p => p.PaymentViewModel.Amount)
                @Html.HiddenFor(p => p.PaymentViewModel.CommandId)
                @Html.HiddenFor(p => p.PaymentViewModel.ContributionId)
                @Html.HiddenFor(p => p.PaymentViewModel.DonationId)
                <table class="table table-borderless table-light table-striped w-100 h-100">
                    <tr>
                        <td colspan="2" align="center"><h4>Carte bancaire enregistrée :</h4></td>
                    </tr>
                    <tr>
                        <td class="w-50" align="right">@Html.LabelFor(m => Model.SavedCreditCard.CardNumber)</td>
                        <td class="w-50">@Html.TextBoxFor(m => Model.SavedCreditCard.CardNumber)</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.SavedCreditCard.Lastname)</td>
                        <td>@Html.TextBoxFor(m => Model.SavedCreditCard.Lastname)</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.SavedCreditCard.Firstname)</td>
                        <td>@Html.TextBoxFor(m => Model.SavedCreditCard.Firstname)</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.SavedCreditCard.Cvc)</td>
                        <td>@Html.TextBoxFor(m => Model.SavedCreditCard.Cvc)</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.SavedCreditCard.DateTime)</td>
                        <td>@Html.TextBoxFor(m => Model.SavedCreditCard.DateTime)</td>
                    </tr>
                    <tr>
                        <td align="right">
                            <input type="submit" value="Changer de carte" name="submitButton" />
                        </td>
                        <td>
                            <input type="submit" value="Valider" name="submitButton" />
                        </td>
                    </tr>
                </table>
            }
        }
        else
        {
            @using (Html.BeginForm())
            {
                <table class="table table-borderless table-light table-striped w-100 h-100">
                    @Html.HiddenFor(m => m.PaymentViewModel.Amount)
                    @Html.HiddenFor(m => m.PaymentViewModel.CommandId)
                    @Html.HiddenFor(m => m.PaymentViewModel.ContributionId)
                    @Html.HiddenFor(m => m.PaymentViewModel.DonationId)
                    <tr>
                        <td colspan="2" align="center"><h4>Informations de la carte bancaire :</h4></td>
                    </tr>
                    <tr>
                        <td class="w-50" align="right">@Html.LabelFor(m => Model.NewCreditCard.CardNumber)</td>
                        <td class="w-50">@Html.TextBoxFor(m => Model.NewCreditCard.CardNumber)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@Html.ValidationMessageFor(m => Model.NewCreditCard.CardNumber, null, new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.NewCreditCard.Lastname)</td>
                        <td>@Html.TextBoxFor(m => Model.NewCreditCard.Lastname)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@Html.ValidationMessageFor(m => Model.NewCreditCard.Lastname, null, new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.NewCreditCard.Firstname)</td>
                        <td>@Html.TextBoxFor(m => Model.NewCreditCard.Firstname)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@Html.ValidationMessageFor(m => Model.NewCreditCard.Firstname, null, new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.NewCreditCard.Cvc)</td>
                        <td>@Html.TextBoxFor(m => Model.NewCreditCard.Cvc)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@Html.ValidationMessageFor(m => Model.NewCreditCard.Cvc, null, new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.LabelFor(m => Model.NewCreditCard.DateTime)</td>
                        <td>@Html.TextBoxFor(m => Model.NewCreditCard.DateTime)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@Html.ValidationMessageFor(m => Model.NewCreditCard.DateTime, null, new { @class = "text-danger" })</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            @Html.Label("Sauvegarder cette carte ?")
                            @Html.CheckBoxFor(m => m.SaveCard)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" name="submitButton" value="Valider" />
                        </td>
                    </tr>
                </table>
            }
        }
        </div>
</div>